* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
}

::-webkit-scrollbar-thumb:hover {
    background: #527bdd;
}

body {
    line-height: 1.5em;
    font-family: Roboto-Regular;
    font-size: 14px !important;
}

.autoHeight {
    height: 100vh;
}

.colorPrimary {
    background-color: #527bdd !important;
}

.colorPrimaryText {
    color: #527bdd !important;
}

.colorSecondary {
    background-color: #f1f3fd !important;
}

.colorSecondary2 {
    background-color: #f8f9ff !important;
}

.colorBlue1 {
    background-color: #3669e0 !important;
}

.colorBlue2 {
    background: #edf3f8 !important;
}

.colorRed {
    background-color: #fb3f4a !important;
}

.colorYellow {
    background-color: #fab005 !important;
}

.colorBlueDark {
    background-color: #183153 !important;
}

.colorBlueDarkText {
    color: #183153 !important;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* CSS Custom Font */
.font-Roboto {
    font-family: Roboto-Regular !important;
}

.font-RobotoSemiBold {
    font-family: Roboto-Medium !important;
}

.font-RobotoBold {
    font-family: Roboto-Bold !important;
}

.font-Poppins {
    font-family: Poppins-Regular !important;
}

.font-Pacifico {
    font-family: Pacifico !important;
}

.font-Italiano {
    font-family: Italianno !important;
}

.s10 {
    font-size: 10px !important;
}

.s12 {
    font-size: 12px !important;
}

.s14 {
    font-size: 14px !important;
}

.s16 {
    font-size: 16px !important;
}

.s18 {
    font-size: 18px !important;
}

.s20 {
    font-size: 20px !important;
}

.s22 {
    font-size: 22px !important;
}

.s24 {
    font-size: 24px !important;
}

.s26 {
    font-size: 26px !important;
}

.roundedBtn2 {
    width: 80px;
    border-radius: 20px;
    font-family: Roboto-Regular;
    font-size: 14px !important;
}

.myRounded {
    border-radius: 12px;
    font-size: 14px !important;
}

/* =============================== */

.bg-img {
    background-image: url("../img/bg-pattern.png");
    background-position: 0px -80px;
    background-size: cover;
}

.custHeight {
    height: 900px;
}

.customMargin1 {
    margin-bottom: 46px;
}

.banner {
    text-align: center;
    font-family: Poppins-Bold;
    color: white;
}

.banner h3 {
    font-size: 24px;
}

.banner h3 span {
    font-size: 14px;
    font-family: Poppins-Medium;
}

.judul h4 {
    font-size: 24px;
    font-family: Roboto-Bold;
    line-height: 1em;
}

.judul h4 span {
    font-size: 12px;
    font-family: Poppins-Regular;
}

input.form-control-user {
    font-size: 14px;
    border-radius: 5px;
    padding: 14px;
}

input.form-control-user2 {
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}

select.form-select-user {
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}

textarea.form-textarea-user {
    height: 43px;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}

textarea.form-textarea-user:focus {
    border-color: #527bdd !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #527bdd;
    outline: 0 none;
    transition: 0.4s ease-in-out;
}

.select-md {
    width: 90%;
    display: inline-block;
}

.tarif {
    font-family: Roboto-Regular;
    font-size: 14px;
}

.form-label {
    font-size: 12px;
    font-family: Roboto-Medium;
    margin-bottom: 4px;
}

.form-label2 {
    font-size: 12px;
    font-family: Roboto-Regular;
}

.form-check-label {
    font-size: 12px;
    color: #a1a1a1;
}

.form-check-label2 {
    font-size: 14px;
    color: #000000;
}

.btn-login {
    font-size: 0.8rem;
    font-family: Roboto-Medium;
    border-radius: 30px;
}

.btn-login:hover {
    background-color: #3669e0;
}

.btn-daftar {
    font-size: 0.8rem;
    font-family: Roboto-Medium;
    border-radius: 30px;
    color: #25282b;
    border: 1px solid #fb3f4a;
}

.btn-daftar:hover {
    color: white;
    background-color: #fb3f4a;
}

.btn-block {
    display: block;
    width: 85%;
    height: 38px;
}

.btn-block2 {
    display: block;
    width: 45%;
    height: 38px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.233);
}

.btn-block3 {
    display: block;
    width: 15%;
    height: 38px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.445);
}

.panel {
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(26, 26, 26, 0.151), inset 0 -5px 1px #fedd00 !important;
}

.panelFormDaftar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(26, 26, 26, 0.151), inset 0 -5px 1px #fedd00 !important;
}

.small {
    text-decoration: none;
}

a.small:hover {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    font-size: 11px;
    font-family: Roboto-Light;
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    .select-md {
        width: 87%;
        display: inline-block;
    }
}

@media screen and (max-width: 991px) {
    .btn-block3 {
        width: 45%;
    }

    .panelFormDaftar {
        width: 75%;

        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 12px;
        transition: 0.4s ease-in-out;
    }

    .select-md {
        width: 94%;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .panel {
        width: 54%;

        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 12px;
        transition: 0.4s ease-in-out;
    }

    .panelFormDaftar {
        width: 75%;

        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 12px;
        transition: 0.4s ease-in-out;
    }

    .select-md {
        width: 93%;
        display: inline-block;
    }
}

@media screen and (max-width: 680px) {
    .panel {
        width: 100%;

        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 12px;
        transition: 0.4s ease-in-out;
    }

    .panelFormDaftar {
        width: 100%;

        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 12px;
        transition: 0.4s ease-in-out;
    }

    .markQuestion {
        right: 10px;
        margin-right: 20px;
        margin-top: -65px;
        transition: 0.4s ease-in-out;
    }

    .markQuestion2 {
        right: -10px !important;
        margin-right: 20px;
        margin-top: -65px;
        transition: 0.4s ease-in-out !important;
    }
}

@media screen and (max-width: 528px) {
    .title {
        width: 100%;
        text-align: center;
    }

    .btnAction {
        width: 100%;
        text-align: center;
    }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="search"]:focus {
    border-color: #527bdd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #527bdd;
    outline: 0 none;
    transition: 0.4s ease-in-out;
}

.custBtn {
    width: 45px;
    height: 45px;
    box-shadow: 0 2px 4px #0000005e;
}

.markQuestion {
    top: 600px;
    right: 10px;
    margin-right: 20px;
    transition: 0.4s ease-in-out;
}

.markQuestion2 {
    top: 600px;
    right: 10px;
    margin-right: 20px;
    transition: 0.4s ease-in-out;
}

.txt_mark {
    font-size: large;
    font-weight: bold;
}

.inputPass {
    position: relative;
}

/* CSS Show/Hide Password in Login Page */
span.eye {
    position: absolute;
}

.wrapper {
    position: relative;
}

::placeholder {
    color: #9a9a9a;
    font-weight: 400;
}

span.eye {
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 50%;
    transition: 0.4s ease-in-out;
}

span.eye2 {
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 35%;
    transition: 0.4s ease-in-out;
}

.fas {
    font-size: 14px;
    color: #d8d8d8;
    cursor: pointer;
}

/* =================================== */

/* CSS Show/Hide Password in Register Page*/
#parsley-id-13 {
    display: inline-block;
    float: left;
}

.show-hideWithText {
    cursor: pointer;
    color: #6c757D;
}

/* Custom Placeholder */
::placeholder {
    color: #d6d6d6 !important;
}

.form-select {
    padding: 10px;
    font-size: 14px;
}

.form-select:focus {
    border-color: #527bdd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #527bdd;
    outline: 0 none;
    transition: 0.4s ease-in-out;
}

/*  */

.ico {
    width: 18px;
    box-sizing: border-box;
    transition: linear 1s;
}

.ico2 {
    width: 22px;
    box-sizing: border-box;
    transition: linear 1s;
}

.frame-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 78px;
    min-height: 50px;
    margin-left: -9px;
    transition: linear 1s;
}

.sidebar.close .frame-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 78px;
    min-height: 50px;
    margin-left: -9px;
    transition: linear 1s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 210px;
    background: #e4e9f7;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar hr {
    color: #527bdd !important;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #527bdd;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-family: Pacifico;
    font-size: 18px;
    color: #527bdd;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    padding-top: 10px;
    margin-left: -10px;
}

.sidebar .logo-details .logo_nameMin {
    font-family: Italliano;
    font-size: 14px;
    color: #527bdd;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-link,
.nav-item.active {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.089);
    font-family: Roboto-Bold;
}

.sidebar .nav-links {
    height: 100%;
    padding: 10px 0 150px 0;
    overflow: auto;
}

.sidebar .nav-links .sidebar-heading {
    text-align: left;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 0.65rem;
    color: #626a7c;
    font-family: Roboto-Medium;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    margin: 0 10px;
    transition: all 0.4s ease;
}

.sidebar li.nav-item a.focusMenu:focus {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.089);
    font-family: Roboto-Bold;
}

.sidebar .nav-links .nav-item:hover {
    border-radius: 10px;
    color: white;
    background: #ffffff49;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.014);
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #527bdd;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: -9px;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(90deg);
    transition: transform 0.4s ease;
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 14px;
    font-weight: 400;
    color: #527bdd;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    margin-top: 1px;
    padding-left: 68px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.089);
}

.sidebar .nav-links li a i.arrow {
    min-width: 25px !important;
    height: 50px !important;
    margin-left: 12px;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #527bdd;
    font-size: 12px;
    padding: 5px 0;
    font-family: Roboto-Regular;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover,
.sidebar .nav-links li .sub-menu a:focus {
    opacity: 1;
    font-family: Roboto-Bold;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 120%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 6 6px 6px 6;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
    margin-left: 0;
    background: #fffffffb;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.185);
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 14px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    height: 100%;
    margin-left: 0;
}

.sidebar .profile-details {
    position: fixed;
    margin: -10px;
    bottom: 0;
    width: 210px;
    display: flex;
    align-items: center;
    background: #527bdd;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 14px;
    background: #527bdd;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .name-job {
    margin-right: 8px;
    line-height: 18px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
    font-weight: normal;
    color: rgb(223, 223, 223);
}

.sidebar .profile-details i {
    min-width: 25px !important;
    height: 50px !important;
    color: white !important;
}

.home-section {
    position: relative;
    background: #fafbff;
    min-height: 100vh;
    left: 210px;
    width: calc(100% - 210px);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-content {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.089);
    position: fixed;
    z-index: 999;
}

.home-section .home-content .custNav {
    position: relative;
    left: -222px;
    right: 0px;
    transition: linear 0.6s;
}

.sidebar.close~.home-section .home-content .custNav {
    position: relative;
    left: -90px;
    right: 0px;
    transition: linear 0.6s;
}

.home-section .home-content .fa-bars {
    margin: 0 15px;
    cursor: pointer;
    color: #527bdd;
}

.menu {
    display: flex;
    position: absolute;
    z-index: 1000;
    left: -20px;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.11);
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}

/*  */
.rowCustom {
    padding-top: 80px;
}

.img-profile {
    height: 2rem;
    width: 2rem;
}

.RobotoReg14 {
    font-family: Roboto-Regular;
    font-size: 14px;
    margin-right: 10px;
}

.RobotoBold18 {
    font-family: Roboto-Bold;
    font-size: 18px;
}

.gradientBlue {
    background-image: linear-gradient(240deg, #0abcf9 0%, #2c69d1 74%);
}

.gradientPink {
    background-image: linear-gradient(240deg, #ffa69e 0%, #ff5555 74%);
}

.gradientYellow {
    background-image: linear-gradient(240deg, #ffc828 0%, #ff7202 74%);
}

.gradientGreen {
    background-image: linear-gradient(240deg, #1fe6b2 0%, #42a24b 74%);
}

/* Tab Panel */
.rounded {
    border-radius: 12px !important;
}

.roundedPanel {
    border-radius: 8px;
}

.roundedTab {
    border-radius: 8px 8px 0px 0px !important;
}

.roundedTabContent {
    border-radius: 0px 0px 12px 12px !important;
    outline: none !important;
    border: none;
}

.roundedBtn {
    font-size: 0.8rem;
    font-family: Roboto-Medium;
    border-radius: 30px;
    outline: none;
}

.custShadow {
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.062);
}

.custShadow2 {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.329);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #1266f1;
    border-color: #1266f1 !important;
}

.nav-tabs .nav-link:hover {
    background-color: #f5f5f5;
    border-color: transparent;
}

.nav-tabs .nav-link:focus {
    border-color: #1266f1 !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #eee #eee #e0e0e0;
    isolation: isolate;
}

.nav-tabs .nav-link {
    text-align: center;
    width: 105px;
    border: solid transparent;
    border-width: 0 0 2px;
    border-radius: 0;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

/*  */
.responsive-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border: 6px solid white;
    border-radius: 14px;
}

.responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Calender */
/*  Calendar wrapper */
.calendar-container {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    font: 13px Helvetica, Arial, san-serif;
    display: inline-block;
    float: right;
}

@media (max-width: 991.98px) {
    .calendar-container {
        padding: 0;
    }
}

@media (max-width: 767.98px) {
    .calendar-container {
        padding: 0;
        width: 100%;
    }
}

.calendar-container:after {
    clear: both;
}

.calendar {
    width: 100%;
    padding: 0;
}

/* Calendar Header */
.year-header {
    background: #fff;
    height: 40px;
    text-align: center;
    position: relative;
    color: #fff;
    border-top-left-radius: 3px;
    margin-top: 20px;
}

.year-header span {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    color: #000;
}

.left-button,
.right-button {
    cursor: pointer;
    width: 28px;
    text-align: center;
    position: absolute;
    color: #cccccc !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px !important;
}

@media (prefers-reduced-motion: reduce) {

    .left-button,
    .right-button {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.left-button:hover,
.right-button:hover {
    color: #527bdd !important;
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
    top: 0;
}

/* Days/months tables */
.days-table,
.dates-table,
.months-table {
    border-collapse: separate;
    text-align: center;
}

.day {
    height: 16px;
    width: 16px;
    padding: 0 10px;
    line-height: 26px;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    color: #000;
}

.month {
    cursor: default;
    height: 16px;
    width: 16px;
    padding: 0 2px;
    padding-top: 5px;
    line-height: 13px;
    text-transform: uppercase;
    font-size: 10px;
    color: #cccccc;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}

@media (max-width: 991.98px) {
    .month {
        font-size: 8px;
    }
}

@media (max-width: 767.98px) {
    .month {
        font-size: 10.5px;
    }
}

.active-month {
    font-weight: 700;
    color: #527bdd;
}

.month:hover {
    color: #fc7fb2;
}

/*  Dates table */
.table-date {
    cursor: default;
    color: #2b2b2b;
    height: 16px;
    width: 16px;
    font-size: 15px;
    padding: 10px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid transparent;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    position: relative;
    z-index: 0;
}

.table-date:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    content: "";
    margin: 0 auto;
    border-radius: 50%;
    z-index: -1;
}

.active-date {
    color: #fff;
}

.active-date:before {
    background: #ff4e4e;
}

.kalenderHead {
    font-family: Roboto-Bold;
}


/*  */
.card-header {
    background-image: linear-gradient(109.6deg, #527bdd 10.2%, #0abcf9);
}

div.dataTables_length {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.dataTables_length label {
    font-family: Roboto-Regular;
    font-size: 14px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 50% !important;
    display: inline-block;
}

div.dataTables_filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.dataTables_filter input {
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    margin-left: 8px;
    height: 34px;
    width: 75% !important;
    padding: 0px 25px 0px 10px;
    transition: all 0.6s ease;
}

div.dataTables_filter label {
    color: #767676;
    font-weight: normal;
    font-family: Roboto-Regular;
    font-size: 14px;
}

div.dataTables_filter input:placeholder-shown {
    width: 13% !important;
}

div.dataTables_filter:hover input:placeholder-shown {
    width: 100% !important;
    cursor: pointer !important;
}

div.dataTables_info {
    font-family: Roboto-Regular;
    font-size: 14px;
}

.pagination {
    font-family: Roboto-Regular;
    font-size: 14px;
}

.form-select {
    padding: 5px;
    font-size: 14px;
}

/*  */
.btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-xs {
    max-width: 20px !important;
    max-height: 20px !important;
    font-size: 9px;
}

table th.cb {
    width: 6% !important;
}

/* .dataPemesanan th.actions{
  min-width: 180px !important;
} */

table th.actions {
    width: 10% !important;
}

.table thead th {
    border-bottom: 2px solid #527bdd !important;
}

/* .table thead th {
  vertical-align: bottom;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  border-bottom: 2px solid #003cff !important;
}
table.table tr th, table.table tr td{
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  font-family: Roboto-Regular;
  font-size: 14px;
}
table.table tr th{
  min-width: 120px;
}
table.table tr th.cb{
  min-width: 12px;
}
.selectAll{
  position: relative;
  top: 13px;
}
table.table tr th.actions{
  min-width: 72px;
}
table.table tr th.no{
  min-width: 25px;
}
table.table tr th.id{
  min-width: 25px;
}
table.table tr th.kursi{
  min-width: 45px;
}
table.table tr th.jenisBus,
table.table tr th.harga,
table.table tr th.waktu,
table.table tr th.waktuTiba{
  min-width: 70px;
}
table.table tr th.detailRute{
  min-width: 320px;
} */
.customW {
    width: 120px !important;
}


.table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(224, 223, 223);
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #527bdd;
}

.mode {
    display: block;
    width: 80px;
    padding: 6px;
    text-align: center;
    line-height: 13px;
    font-family: Roboto-Regular;
    font-size: 12px !important;
    color: #fff;
    font-weight: 400;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: 11px;
    letter-spacing: 0.4px;
}

.mode_on {
    background-color: #09922d;
}

.mode_off {
    background-color: #8b9096;
}

.mode_process {
    background-color: #ff8000;
}

.mode_done {
    background-color: #03a9f3;
}

.mode_ekonomi {
    background-color: #527bdd;
}

.mode_eksekutif {
    color: #FFD700;
    border: 1px solid #FFD700;
    background-color: #3d4244;
}

.btn-user {
    width: 32px !important;
    height: 32px !important;
    padding: 0;
    margin-bottom: 2px;
}

.btn-user2 {
    width: 28px !important;
    height: 28px !important;
    padding: 0;
    margin-bottom: 2px;
    border: none;
    outline: none;
}

a.actionBtn {
    text-decoration: none !important;
    outline: none;
}

.title {
    display: block;
    padding-top: 15px;
    padding-bottom: 9px;
}

.title span {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Roboto-Medium;
    color: rgb(255, 255, 255);
}

.btnAction {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btnAction a {
    text-decoration: none;
}

.modal-content.modal-edit {
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 14px !important;
    border-radius: 14px !important;
    border: none !important;
    outline: none !important;
}

.modal-edit .modal-header {
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 14px !important;
    border-radius: 14px !important;
    background-image: linear-gradient(109.6deg, #527bdd 10.2%, #0abcf9);
    border: none !important;
    outline: none !important;
    color: white;
    font-family: Roboto-Bold;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.329);
}

.modal-edit .modal-header h4.modal-title {
    font-size: 18px;
}

.form-group {
    margin-bottom: 1.25rem;
}

/*  */
#profileDisplay {
    display: block;
    height: 135px;
    width: 135px;
    margin: 0px auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.329);
}

.img-placeholder {
    display: block;
    height: 135px;
    width: 135px;
    margin: 0px auto;
    border-radius: 50%;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.39);
    position: absolute;
    display: none;
}

.img-placeholder span {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
}

.img-div {
    width: 135px;
    height: 135px;
    margin: 0px auto;
}

.img-div:hover .img-placeholder {
    display: block;
    cursor: pointer;
}

.view {
    font-family: Roboto-Regular;
    font-size: 14px;
    text-decoration: none;
}

.card-body a.view:hover {
    text-decoration: underline;
    color: #527bdd !important;
}

/* Custom Alert Sementara*/
.alert {
    width: 250px !important;
    z-index: 9999;
}

.custAlert {
    top: 9px;
    right: 1px;
    margin-right: 20px;
    transition: 0.4s ease-in-out;
}